html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,h2,h3,h4,h5,h6, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

:root {
  /* fonts */
  --lato: 'Lato', sans-serif;
  /* colors */
  --blue: #408DDC;
  --white: #FFF;
  --text-color: #000000;
  --border-color: #979797;
  --hyperlink: #7AAEEA;

  /* paragraphs */
  --paragraphLargeSize: 2rem;
  --paragraphMediumSize: 1.6rem;

  /* headings sizes */
  --headingLargeSize: 5rem;
  
  /* spacings */
  --10: 1rem;
  --12: 1.2rem;
  --13: 1.3rem;
  --14: 1.4rem;
  --16: 1.6rem;
  --20: 2rem;
  --21: 2.1rem;
  --24: 2.4rem;
  --30: 3rem;
  --33: 3.3rem;
  --34: 3.4rem;
  --36: 3.6rem;
  --38: 3.8rem;
  --40: 4rem;
  --42: 4.2rem;
  --50: 5rem;
  --55: 5.5rem;
  --66: 6.6rem;
  --69: 6.9rem;
  --76: 7.6rem;
  --82: 8.2rem;
  --83: 8.3rem;
  --89: 8.9rem;
  --90: 9rem;
  --91: 9.1rem;
  --92: 9.2rem;
  --94: 9.4rem;
  --100: 10rem;
  --125: 12.5rem;
  --140: 14rem;
  --141: 14.1rem;
  --142: 14.2rem;
  --145: 14.5rem;
  --146: 14.6rem;
}